body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    /* background: #8c52ff;  */
    /* background-image: linear-gradient(rgba(111, 0, 214, 0.65),rgba(27, 150, 207, 0.65)),url(kalpic/kaldrusthi.webp); */
    background-position: center;
    background-size:contain;
background-image:linear-gradient(rgba(82, 21, 21, 0.65),rgba(85, 52, 15, 0.65)),url(D&D.webp);
}



form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #9530d8;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 300px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #5c18e2;
    color: white;
}











#result {
    margin-top: 20px;
    padding: 10px;
  
    border-radius: 5px;
    font-size: large;
    display: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    fill-opacity: var(0.4);
 
}
/* Define the animation */
@keyframes colorChange {
    0% {
        color: #ff0000; /* Red */
    }
    25% {
        color: #00ff00; /* Green */
    }
    50% {
        color: #0000ff; /* Blue */
    }
    75% {
        color: #ff00ff; /* Magenta */
    }
    100% {
        color: #ff0000; /* Red (to loop) */
    }
}

/* Apply the animation to the text */
.animated-text {
    font-size: 2.5em;
    font-weight: bold;
    animation: colorChange 5s infinite; /* 5 seconds duration, infinite looping */
    transition: color 0.5s ease-in-out;
    text-align: center;
    margin-top: 20%;

}
